$sidenav-width-small: 50px;
$sidenav-width-small-children: 150px;
$sidenav-width-large: 220px;

$icon-large-screen: 16px;
$icon-small-screen: 20px;

$menu-height-large: 3.21em;
$menu-height-small: 44px;

$submenu-height: 2.6em;

$action-btn-height: 50px;
$header-height: 40px;

$padding-left-parent: 20px;
$padding-left-children: 10px;

$sidenav-bg: #fafafa;
$submenu-bg: #f1eded;
$submenu-active: pink;
$hover-bg: #e2e2e2;
$text-default: #707070;
$text-active: #393982;
$border-color: #e5e5e5;

* {
  font-size: 13px;
  font-family: 'Noto Sans';
}

a, span {
  text-decoration: none;
  color: $text-default;
}

ol, ul {
	list-style: none;
}

li {
  cursor: pointer;
}

.fill {
  flex: 1 1 auto;
}

@mixin active-style {
  box-shadow: inset 3px 0 0 #1784c7;
  color: $text-active;
  .label .link a, li.active > a {
      color: inherit;
  }
  li.active {
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: $submenu-active;
  }
}

@mixin hover-style-no-border {
  background-color: $hover-bg;
  cursor: pointer;
}

@mixin hover-style {
  @include hover-style-no-border;
  box-shadow: inset 3px 0 0 #1784c7;
}


/* General stylings */
.side-nav {
  background-color: $sidenav-bg;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px 0 0 $border-color;
  transition: width 0.3s, left 0.3s;
  width: $sidenav-width-large;
}
ul {
  a {
    width: 100%;
    display: block;
    white-space: nowrap
  }

  .label {
    .logo {
      img {
        height: 100%;
      }
    }
  }
  .has-children {
    background-color: $submenu-bg;
    .submenu {
      height: $submenu-height;
      display: flex;
      align-items: center;
    }
  }

  .action-btn {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    height: $action-btn-height;

    border-top: 1px solid $border-color;

    .icon {
      height: 100%;
      width: $action-btn-height; // To make a square
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 12px;
        width: auto;
        padding-left: 10px;
      }
    }

    .collapse-text {
      white-space: nowrap;
    }

    &:hover {
      @include hover-style-no-border;
    }
  }
}

/* Mobile responsive */

.side-nav {
  position: fixed;
  top: $header-height;
  height: calc(100% - #{$header-height});
}

.side-nav.is-mobile {
  width: $sidenav-width-small;
}

.is-mobile ul {
  position: relative;
  .label {
    height: $menu-height-small;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: $icon-small-screen;
      min-height: $icon-small-screen;
    }

    .link {
      background-color: $submenu-bg;
      height: $menu-height-small;
      width: $sidenav-width-small-children;

      display: flex !important;
      align-items: center;
      justify-content: center;

      a {
        padding-left: $padding-left-children;
      }
    }
  }
  .has-children {
    width: $sidenav-width-small-children;
    a {
      padding-left: $padding-left-children;
    }
  }

  .action-btn {
    .icon {
      img {
        padding: 0;
      }
    }
    .collapse-text {
      display: none;
    }
  }

  /* Parent link positioning */
  .label {
    .link {
      position: absolute;
      left: $sidenav-width-small;
      top: 0;
    }
  }

  /* Children positioning */
  .has-children {
    position: absolute;
    top: $menu-height-small;
    left: $sidenav-width-small;
    z-index: 10;
  }
}

/* Active styling */

.is-mobile ul.active > .label {
  @include active-style;
}

.is-mobile ul.active {
  .has-children {
    @include active-style;
    box-shadow: none;
  }
}

.is-mobile ul.active {
  background-color: $submenu-bg;
}

/* Hover Styling */
.is-mobile ul:hover {
    .label {
      @include hover-style;
    }

    .link:hover {
      @include hover-style;
    }

    .has-children ul li:hover {
      @include hover-style;
    }
}

/* Hover logic */
.is-mobile ul {
  .label {
    .link {
      visibility: hidden;
    }
  }
  .has-children {
    display: none;
  }
}
.is-mobile ul:hover {
  .label {
    .link {
      visibility: visible;
    }
  }
  .has-children {
    display: initial;
  }
}

/* Desktop responsive */

@media only screen and (min-width: 768px) {
  .side-nav {
    position: initial;
    height: 100%;
  }
}

/* General stylings */
.is-desktop ul {
  .label {
    height: $menu-height-large;

    display: grid;
    grid-template-columns: $icon-large-screen auto;
    grid-column-gap: 10px;

    align-items: center;
    justify-content: flex-start;

    padding-left: $padding-left-parent;

    .logo {
      height: $icon-large-screen;
      min-height: $icon-large-screen;
    }

    .link {
      height: $icon-small-screen;
      display: flex;
      align-items: flex-end;
    }
  }

  .has-children {
    width: 100%;
    a {
      padding-left: $padding-left-parent + $icon-large-screen + $padding-left-children;
    }
  }
}

/* Show children logic */
.is-desktop ul:not(.active) {
  .has-children {
    display: none;
  }
}
.is-desktop ul:not(.active):hover {
  position: relative;
  .has-children {
    display: initial;
    position: absolute;
    top: 0;
    left: $sidenav-width-large;

    a {
      padding: $padding-left-children;
    }
  }
}

/* Active logic */
.is-desktop ul.active {
  & {
    background-color: $submenu-bg;
    @include active-style;
  }
  .has-children {
    @include active-style;
  }
}

/* Hover logic */
.is-desktop ul:not(.active) {
  &:hover {
    .label {
      @include hover-style;
    }
  }
  .has-children li:hover {
    @include hover-style-no-border;
  }
}

.is-desktop ul.active {
  .has-children li:hover {
    @include hover-style;
  }
}