<nav class="side-nav" [ngClass]="isDesktop ? 'is-desktop' : 'is-mobile'">
  <ul *ngFor="let menu of [1,2]; let i = index"
      [class.active]="id === i"
      (click)="id = i">
    <li class="label">
      <div class="logo">
        <img src="https://img.icons8.com/707070/home"> 
      </div>
      <div class="link">
        <a href="#0">Menu {{ i + 1 }}</a>
      </div>
    </li>
    <li class="has-children">
      <ul>
        <li *ngFor="let sub of [1,2,3]; let j = index"
            [class.active]="id == i && submenu === j"
            class="submenu"
            (click)="submenu = j">
            <a href="#0">Submenu {{ j + 1 }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="fill"></div>
  <ul>
				<li class="action-btn"><button type="button" (click)="toggle()">Collapse</button></li>
  </ul>
</nav>